body {
    max-width: 100%;
    background: rgb(170, 166, 166);
    scroll-behavior: smooth;
}

.home{
    max-width: 100%;
    min-height: 100vh;
    display: block;
}
/* header home */

.home__header {
    background-color: rgb(255, 0, 0);
    max-width: 100%;
    height: 75px;

    
}



.home__body {
    width: 90%;
    margin: 0 auto;
    margin-top: 25px;
   

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;



 
}
.work-item{
    background-color: rgb(226 231 239);
    width: 100%;
    height: 100%;

    padding: 10px;
}

.add-btn{
    width: 100%;
    background-color: white;

    font-size: 24px;
    border: 1px solid white;
    border-radius:12px ;

    margin-bottom: 12px;
}